body{
    margin: 100px;
}

.leftInterest{
    float: left;
    width: 50%;
}

button{
    text-decoration: none;
    color: black;
    background-color: lightgreen;
    padding: 5px 25px;
    margin: 0;

}

.rightInterest{
    background-color: lightgray;
    padding: 10px;
    float: left;
    border-radius: 10px;
    width: 45%;
}

.rightInterest img{
    width: 100%;
}
